body {
background-image: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
background-size: cover ;
background-repeat:no-repeat ;
background-attachment: fixed;
font-family: sans-serif;
}
.boxForm {
background-color: #ffffff;
width: 80%;
overflow: hidden;
border-radius: 10px;
margin: 0 auto;
display: flex;
flex: 1 1 100%;  
align-items: stretch;
justify-content: space-between;
box-shadow: 0 0 20px 6px #090b6f85;
}

.boxForm div {
height: auto;
}

.boxForm .left {
color: white;
background-size: cover;
background-repeat: no-repeat;
background-image: url("photo_2023-06-13_15-15-51.jpg");
overflow:  hidden;
}

.boxForm .left .overlay {
padding: 30px;
width: 100%;
height: 100%;
background: #5961f9;
opacity: .7;
overflow: hidden;
box-sizing: border-box;
}

.boxForm .left .overlay h1 {
font-size: 10vmax;
line-height: 1;
font-weight: 900;
margin-top: 40px;
margin-bottom: 20px;
}

.boxForm .left .overlay span p {
margin-top: 30px;
font-weight: 900;
}

.boxForm .left .overlay span a {
background: #3b5998;
color: #ffffff;
margin-top: 10px;
padding: 14px 50px;
border-radius: 100px;
display: inline-block;
box-shadow: 0 3px 6px 1px #042b4657;
}

.boxForm .left .overlay span a:last-child {
background:#1bcaff;
margin-left: 30px;
}

.boxForm .right {
padding: 40px;
overflow: hidden;
}

.boxForm .right h5 {
font-size: 6vmax;
line-height: 0;
}

.boxForm .right p {
font-size: 14px;
color:#b0b3b9;
}
        
.boxForm .right .inputs {
overflow: hidden;
}

.boxForm .right input {
 width: 100%;
padding: 10px;
font-size: 16px;
margin-top: 25px;
border: none;
border-bottom: 2px solid #b0b3b9;
outline: none;
}

.boxForm .right .Remember-me--Forget-password {
display: flex;
justify-content: space-between;
align-items: center;
}

.boxForm .right .Remember-me--Forget-password input {
margin: 0;
margin-right: 7px;
width: auto;
}

button {
float: right;
font-size: 20px;
border: none;
outline: none;
background-image: linear-gradient(135deg, #70f570 10%,#49c628 100%);
color: white;
border-radius: 50px;
box-shadow: 0px 4px 20px 0px #49c628a6;
display: inline-block;
}

label {
display: block;
margin-left: 30px;
position: relative;    
}

label::before {
font-family: FontAwesome;
content: '\f00c';
background: transparent;
border-radius: 4px;
border: 3px solid #70f570;
padding-left:-3px;
transition: all 0.2secs linear transparent;
position: absolute;
color: transparent;
}

label :hover ::before {
font-family: FontAwesome;
content:'\f00c';
color: white;
cursor: pointer;
background: #70f570;
}